.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    
}
.slick-prev {
    left: -60px;
}
.slick-next {
    left: 101%;

}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 100px;
    line-height: 1;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 


}

.slick-next:before {
    content: '\203A';
}
.slick-prev:before {
    content: '\2039';
}