.wrapper_features {
    display: inline-flex ;
}
.preview_img_wrps {
    line-height: 264px;
    text-align: center;
    height: 200px;
    margin: 0 auto 12px;
    display: flex;
    }
    .slider-wrapper .services {
        position: relative;
        height: 81vh !important;
        overflow: hidden;
    }