

.carousel-control-prev-icon {
    display: inline-block;
    width: 3rem !important;
    height: 8rem !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    color: white !important;
}
.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: red !important;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5% !important;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 3rem !important;
    height: 8rem !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5% !important;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}






