.wrapper_features {
    display: inline-flex ;
}
.preview_img_wrps {
    line-height: 264px;
    text-align: center;
    height: 200px;
    margin: 0 auto 12px;
    display: flex;
    }
    .slider-wrapper .services {
        position: relative;
        height: 81vh !important;
        overflow: hidden;
    }
.heart_image {
    
        color: #a3a3a3;
        font-size: 72px;
        content: "\e813";
    
}

.row .services_reverse {
    display: flex;
    flex-direction:row-reverse;
}
.wrapper_services_card_all .row:nth-child(odd) {
    flex-direction:row-reverse;
}