.about_heading {
  position: relative;
  top: -350px;
}

.about_banner_img img {
  height: 80vh;
}

.about_heading1 {
  font-size: 74px;
  letter-spacing: -2px;
  margin-bottom: 6px;
  line-height: 83px;
}

.wrapper_about_header {
    position: absolute;
    z-index: 2;
    opacity: 0.6;
    width: 100%;
}